<mat-dialog-content class="user-form-dialog">
  <h2 mat-dialog-title>{{ title }}</h2>
  <mat-divider></mat-divider>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <!-- Nombre del Usuario -->
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Nombre de Usuario</mat-label>
      <input matInput formControlName="userName" placeholder="Nombre de Usuario" />
      <mat-error *ngIf="userForm.get('userName')?.invalid && userForm.get('userName')?.touched">
        El nombre de usuario es requerido.
      </mat-error>
    </mat-form-field>

    <!-- Email del Usuario -->
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email" />
      <mat-error *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
        Por favor ingrese un email válido.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="password" [type]="'password'" required>
      <mat-error *ngIf="userForm.get('password')?.hasError('required')">
        La contraseña es obligatoria
      </mat-error>
      <mat-error *ngIf="userForm.get('password')?.hasError('minlength')">
        La contraseña debe tener al menos 6 caracteres
      </mat-error>
    </mat-form-field>

    <!-- Campo para seleccionar el Rol -->
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Rol</mat-label>
    <mat-select formControlName="roleId">
      <mat-option *ngFor="let role of roles" [value]="role.id">
        {{ role.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="userForm.get('roleId')?.hasError('required')">
      El rol es requerido.
    </mat-error>
  </mat-form-field>  

    <div class="actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">
        {{ data.isEditMode ? 'Actualizar' : 'Crear' }}
      </button>
      <button mat-button mat-dialog-close type="button" (click)="onCancel()">Cancelar</button>
    </div>
  </form>
</mat-dialog-content>
