.button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px; /* Espacio entre el botón y la tabla */
  }
  
  .card-title.users-title {
    margin-bottom: 10px; /* Asegura que haya espacio adecuado entre el título y el botón */
  }
  