<mat-card class="card users-card">
  <mat-card-title class="card-title users-title">Lista de Usuarios</mat-card-title>

  <mat-card-content>    
  <!-- Contenedor del botón alineado a la derecha -->
  <div class="button-container"  >
    <button mat-raised-button color="primary" (click)="openCreateUserDialog()">
      <mat-icon>add</mat-icon>
      Nuevo Usuario
    </button>
  </div>
    <mat-table [dataSource]="users" class="table users-table mat-elevation-z2">

      <!-- Columna del Nombre del Usuario -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef class="header-cell"> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let user" class="cell"> {{user.userName}} </mat-cell>
      </ng-container>

      <!-- Columna del Email del Usuario -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef class="header-cell"> Email </mat-header-cell>
        <mat-cell *matCellDef="let user" class="cell"> {{user.email}} </mat-cell>
      </ng-container>

      <!-- Columna del Rol del Usuario -->
      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef class="header-cell"> Rol </mat-header-cell>
        <mat-cell *matCellDef="let user" class="cell"> {{user.role.name}} </mat-cell>
      </ng-container>

      <!-- Columna de Acciones -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="header-cell"> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let user" class="cell actions-cell">
          <!-- Botón Ver -->
          <button mat-icon-button color="primary" (click)="openViewUserDialog(user)">
            <mat-icon>visibility</mat-icon>
          </button>

          <!-- Botón Editar -->
          <button mat-icon-button color="accent" (click)="openEditUserDialog(user)">
            <mat-icon>edit</mat-icon>
          </button>

          <!-- Botón Eliminar -->
          <button mat-icon-button color="warn" (click)="deleteUser(user.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <!-- Definición de filas y columnas -->
      <mat-header-row *matHeaderRowDef="['name', 'email', 'role', 'actions']" class="header-row"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['name', 'email', 'role', 'actions']" class="row"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
