.button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px; /* Espacio entre el botón y la tabla */
  }
  
  .card-title.users-title {
    display: flex;
    justify-content: flex-start;
    margin: 10px; 
  }
  